@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shrikhand&display=swap');
@import 'tailwindcss';

/* Import des fonts */


h2,
h3,
p {
  font-family: nunito;
  color: #191998;
}

h1 {
  font-family: shrikhand;
  color: #191998;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body::before {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
z-index: -2;
}

.icon {
  position: fixed;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  animation: float 9s ease-in-out infinite, fadeIn 9s ease-in forwards;
  color: #FFC94F; 
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.icon.alt {
  color: #191998; 
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  75% {
    transform: translate(-5px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.4;
  }
}

.blackText {
  color: black;
}



footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
}


/*---------CAROUSEL------------*/

.carousel-track {

  display: flex;
  padding: .5rem;
  transition: transform 0.5s ease-in-out;

}

.carousel-track img {
  width: 10rem;
  height: 5rem;
  object-fit: cover;
  border-radius: .5rem;
}

/*------------PAGE ABOUT------------------*/
.custom-btn {
  width: 100%;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'nunito', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

/* 7 */
.btn-7 {
  background: linear-gradient(0deg, rgba(255, 201, 79, 1) 0%, rgba(255, 201, 79, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(255, 201, 79, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: black;
  background: white;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(255, 201, 79, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}